:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-size: 18px;
  color: #6b6375;
  background: #fff;
}

body {
  margin: 0;
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 500;
  color: #08060d;
}

h1 {
  font-size: 2rem;
  margin: 24px 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0 0 8px;
}
